@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  min-height: 100vh;
  background:
    radial-gradient(
      at top left,
      rgba(16, 185, 129, 0.15),
      transparent 40%
    ),
    radial-gradient(
      at bottom right,
      rgba(59, 130, 246, 0.15),
      transparent 40%
    ),
    linear-gradient(
      to bottom right,
      #020617,
      #020617
    );
  color: white;
}

